<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find tr1_description)/urdf/body/body.gazebo.xacro" />
	<xacro:include filename="$(find tr1_description)/urdf/body/body.transmission.xacro" />

	<link name="body_link">
		<collision>
			<geometry>
        <mesh filename="package://tr1_description/meshes/dae/body.dae" scale="0.001 0.001 0.001"/>
			</geometry>
			<origin rpy="0 0 3.141592"/>
		</collision>
		<inertial>
			<mass value="0.005"/>
			<inertia ixx="0.001" iyy="0.001" izz="0.001" ixy="0" ixz="0" iyz="0" />
		</inertial>
		<visual>
			<geometry>
        <mesh filename="package://tr1_description/meshes/dae/body.dae" scale="0.001 0.001 0.001"/>
			</geometry>
			<origin rpy="0 0 3.141592"/>
		</visual>
	</link>

	<joint name="body_to_neck_base" type="fixed">
		<parent link="body_link"/>
		<child link="neck_base_link"/>
		<origin xyz="0 -0.017 0.365"/>
	</joint>

</robot>


