<launch>
	<param name="robot_description" command="xacro --inorder $(find tr1_description)/robots/tr1.urdf.xacro" />
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find tr1_description)/urdf.rviz" required="true" />
</launch>
